/* You can add global styles to this file, and also import other style files */
@import 'app/app.theme';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  display: flex;
  flex-direction: column;

  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

md-sidenav {
  width: 250px;
}

.content {
  padding: 12px;
}
